/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #ecf8e5,
    100 : #ceefbd,
    200 : #aee492,
    300 : #8ed966,
    400 : #75d045,
    500 : #5dc824,
    600 : #55c220,
    700 : #4bbb1b,
    800 : #41b416,
    900 : #30a70d,
    A100 : #ddffd5,
    A200 : #b4ffa2,
    A400 : #8aff6f,
    A700 : #75ff56,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

