@import '~@angular/material/theming';
@import 'palette';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary:  mat-palette($md-mcgpalette0, 700, 300, 900);
$candy-app-accent:   mat-palette($md-mcgpalette0);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);



@include angular-material-theme($candy-app-theme);

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-form-field-appearance-legacy .mat-hint,
.mat-icon-button {
    color:  map-deep-get($md-mcgpalette0, 'contrast' , 'A400');
}


.mat-form-field-appearance-legacy .mat-form-field-underline  {
    background-color: map-deep-get($md-mcgpalette0, 'contrast' , 'A400');
}