.new-credit {
    display: flex;
    flex-direction: column;
    max-width: 700px;

    & > * {
        padding: 10px 0;
    }

    .action-wrapper {
        margin: 25px 0;
    }

    svg {
        margin: 0 0 5px 0;
        vertical-align: middle;
    }
}
  

.input-wrapper {
    display: flex;
    flex-direction: column;
}
