<div class="new-credit">
    <h1>Request a new credit</h1>

    <mat-form-field>
        <input matInput placeholder="Amount" min="10" max="50000" type="number" class="example-right-align">

        <span matSuffix>
            <svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" viewBox="0 0 1692.31 2000"><defs><linearGradient id="a" x1="191.59" y1="1712.04" x2="1419.34" y2="662.26" gradientUnits="userSpaceOnUse"><stop stop-color="#beea2e"/><stop offset="1" stop-color="#52ba00"/></linearGradient></defs><path d="M153.85 380.09l669.68 316.74V2000l-669.68-316.74V380.09zM1167.42 0L186 348.94l663.68 318.74 978.38-350.94zm-18.1 596.29v797.38l696.83 271.49V345.89z" transform="translate(-153.85)" fill="url(#a)"/></svg>
            NEO
            
        </span>
    </mat-form-field>

    <mat-form-field hintLabel="Max 30 characters">
        <input matInput #input maxlength="30" placeholder="Your Reason">
        <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
    </mat-form-field>

    <div class="input-wrapper">
        <mat-slider

            max="20"
            min="1"
            step="1"
            thumbLabel="false"
            (input)="onPercentChange($event)"
            [(ngModel)]="percentVal"
        >
        </mat-slider>
        <label>Interest Rate: {{percentVal}} %</label>
    </div>

    <div class="input-wrapper">
        <mat-slider

            max="24"
            min="6"
            step="6"
            thumbLabel="false"
            (input)="onMonthChange($event)"
            [(ngModel)]="monthVal"
        >
        </mat-slider>
        <label>Term: {{monthVal}} {{monthVal == 1 ? 'Month': 'Months'}}</label>

    </div>
    <div class="action-wrapper">
        <button mat-raised-button color="primary">Get credit</button>
    </div>
</div>
